.cart-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cart-items{
    flex: 6;
    margin-left: 60px;
    margin-bottom: 10px;
    width: 600px;
    height: 500px;
}

.payment-container{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-top: 50px;
    padding-left: 25px;
}

.payment-button{
    border: 1px solid black;
    color: black;
    width:100px;
    height:50px;
    background-color: white;
    margin: 3px;
}

.total{
    color: black;
    background-color: white;
    border: 1px solid black;
}

@media (max-width: 768px) {
    .cart-main {
        flex-direction: column;
        align-items: center;
    }

    .cart-items {
        width: 100%;
        margin-left: 0;
    }

    .payment-container {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .payment-button {
        width: 80%;
        max-width: 200px;
    }

    .total {
        width: 80%;
        max-width: 150px;
        text-align: center;
    }
  }
