

.home-image-left{
    max-width: 500px;
    border: 2px solid #e8ebe4;
    border-radius: 3%;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
}

.home-image-right{
    max-width: 500px;
    border: 2px solid #e8ebe4;
    border-radius: 3%;
    margin-left: 10px;
    margin-top: 20px;
}

.image-container{
    display: flex;
    justify-content: center;
}

.website-description{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #e8ebe4;
    padding: 5px;
    color: #e8ebe4;
    font-size: 25px;
    background-color: #776677;
}

@media (max-width: 1042px) {
    .home-image-left,
    .home-image-right {
        max-width: 90%;
    }

    .image-container {
        justify-content: center;
    }

    .website-description {
        font-size: 20px;
    }
}