
.item-card{
    margin: 20px;
    border: 1px solid black;
    width: 350px;
    height: 350px;
    background-color: #E8EBE4;
}

.cards-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-button{
    background-color: #16697A;
    font-size: small;
    padding: 1px;
    margin: 2px;
    border-radius: 10%;


}

.item-img{
    width: 350px;
}

.main {
    background-color: #EE7A44;
    height: 100vh;
}